/*
.feed{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
*/
.feed{
    background-color: var(--white);
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.1fr));
    grid-gap:10px;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
}
.query{
    color: var(--darkest);
    margin: 3.2rem 1rem;
    white-space:nowrap;
    position:relative;
}

.fd{
    display:inline;
    justify-content: start;
    vertical-align: top;    
}

@media all and (min-width: 1155px) and (max-width: 1255px){
    .feed{
        justify-content: start;
        width: 105%;
    }

}

@media all and (min-width: 1000px) and (max-width: 1151px){
    .feed{

    }
    .query{
        text-align: center;
    }

}
@media all and (max-width: 999px){
    .query{
        text-align: center;
    }

}
    


/*mobile formatting*/
@media all and (min-width: 320px) and (max-width: 450px){

    .feed{
        width: 200px;
    }
    .query{
        margin: 0;
        text-align: center;
    }
    .query h2{
        
        font-size: 15px;
        margin: 0;
        margin-right: 25px;

    }
}

/*mobile formatting*/
@media all and (min-width: 150px) and (max-width: 319px){
    .query{
        margin: 0;
        text-align: start;
    }
    .query h2{
        font-size: 10px;
    }
}
/*mobile formatting*/
@media all and (max-width: 149px){
    .query{
        margin: 0;
        padding-top: 16px;
        text-align: start;
    }
    .query h2{
        font-size: 10px;
        margin: 0;
    }

}