.bookCard{
    background-color: var(--dark);
    padding: 1rem;
    max-width: 176px;
    max-height: 290px;
    margin-bottom: 10px;
    transition: .5s;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.bookCard:hover{
    transform: scale(0.9);
}
.bookCard .thumbnail{
    width: 132px;
    height: 197px;
    position: relative;
    z-index: 1;
}

.bookCard .background{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(50px);
    width: 100%;
    height: auto;

}
.title-container{
    margin-top: 10px;
}

.bookCard .title {
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--darkest);
}
.bookCard .author {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--light);
}
.bookCard .publisher {
    color: var(--darkest);
}


