.shelf-container{
    padding-left: 15%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background: var(--white);*/
    justify-content: center;

}
.feed-container{
    padding-left: 15%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background: var(--white);*/
    justify-content: center;

}

@media all and (min-width: 1021px) and (max-width: 1199px){
    .feed-container{
        padding-left: 12%;
    }

}
@media all and (min-width: 900px) and (max-width: 1020px){
    .feed-container{
        justify-content: center;
    }

}

/*mobile formatting*/
@media all and (min-width: 210px) and (max-width: 370px){

    .shelf-container{
        padding-left: 30%;

    }
    .feed-container{
        padding-left: 30%;

    }
}

@media all and (max-width: 209px){
    .shelf-container{
        position:fixed;
        padding-left: 40px;
        background: var(--white);
    }
    .feed-container{
        position:fixed;
        padding-left: 40px;
        background: var(--white);
    }
}