.overlay{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner{
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: auto;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
    z-index: 2;
}
.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}
.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box .thumbnail{
    margin-right: 30px;
    width: 126px;
    height: 202px;
}
.modal-imgs{
    position:relative;
}
.overlay-inner .inner-box .background-modal{
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    width: 150px;
    height: 250px;
    opacity: 1;
    z-index: -1;
    background-color: var(--white);
}
.background-modal-img{
    width: 100%;
    height: auto;
    filter: blur(6px);
    opacity: 0.2;
}
.overlay-inner .inner-box .authors{
    font-size: 1rem;
}
.overlay-inner .inner-box .publisher{
    font-size: 1rem;
}
.tags{
    color: var(--darkest);
    background-color: var(--highlight);
    display: inline-block;
    border-radius: 5px;
    padding: 0.2em 0.2em 0.2em 0.2em;
}
.page-count{
    color: var(--darkest);
    display: inline-block;
    margin-right: 50px;
}
.title{
    color: var(--darkest);
    font-weight: bold;

}
.star-rating{
    color: var(--darkest);
    display: inline-block;
}
.rating{
    display: inline-block;
    margin: 5px;
}

.overlay-inner .inner-box h1{
    color: var(--darkest);
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: var(--light);
}
.overlay-inner .inner-box h4{
    color: var(--light);
}
.tag-buttons{
    display: flex;
    justify-content: center;
}
.want-to-read{
    margin-right: 15px;
    border-radius: 5px;
    background-color: var(--white);
    border: solid var(--darkest);
    color: var(--darkest);
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}
.overlay-inner .description{
    padding: 15px;
    max-width: 800px;
    text-align: justify;
    margin: auto;
    margin-top: 2rem;
    color: var(--darkest);
    border: 1px solid var(--darkest);
}
.less{
    max-height: 200px;

    /*this may not work in some browsers maybe look for another solution*/
    -webkit-mask-image: linear-gradient(0deg, transparent 5px, red 200px);
}
.less{
    font-size: 15px;
}
.more{
    font-size: 15px;
}
.read-more-button{
    background: none;
    color: var(--highlight);
    border: none;
    text-decoration: underline;
    display: block;
    margin: 0 auto;
}
