.overlay{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.overlay-inner{
    background-color: var(--white);
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}
.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}
.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box .thumbnail{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}

.overlay-inner .inner-box h1{
    color: var(--darkest);
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: var(--light);
}
.overlay-inner .inner-box h4{
    color: var(--light);
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    margin: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: var(--light);
    color: var(--darkest);
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}
.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
    color: var(--darkest);
}