.tag-selector{
    display: flex;
    justify-content: center;
    margin: 30px 20px 20px;
    padding-right: 30px;
    border: 10px;
}
.selector{   
    padding: 3px 10px 3px; 
    color: var(--darkest);
    background-color: var(--white);
}
.option{
    text-align: center;
}
.remove-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.remove{
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    border: none;
    border-radius:5px;
    background-color: var(--highlight);
    color: var(--darkest);
}
.btns{
    display: flex;
    margin: 30px 30px 10px;
    justify-content: center;
}
.btn-details, .btn-notes{
    margin-right: 30px;
    text-decoration: none;
    border: none;
    border-radius:5px;
    background: none;
    color: var(--darkest);
    font-size: larger;
    font-weight:bold;
}
.btn-details-selected, .btn-notes-selected{
    margin-right: 30px;
    text-decoration: underline;
    border: none;
    border-radius:5px;
    background: none;
    color: var(--darkest);
    font-size: larger;
    font-weight:bold;
    text-decoration-thickness: 4px;
}
.btn-details:hover, .btn-notes:hover{
    color: var(--highlight);
}

/*notes section*/
.tab-notes{
    display: block;
    margin: auto;
    padding: 20px;
}
.notes{
    display: block;
    justify-content: center;
    margin: 1.5rem;
}
.notes form{
    background-color: var(--blacker);
}
.notes-field{
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--blacker);
    background-color: var(--dark);
    font-size: 14px;
    resize: none;
    color: var(--darkest);
    overflow: hidden;
}
.notes-display{
    height:auto;
    color: var(--darkest);
}
.notes-list{
    list-style-type: none;
}
.note{
    width: 400px;
    height: auto;
    margin: 10px;
    background-color: var(--white);
}
.comment-info{
    display: inline-flex;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
.comment-info span{
    color: var(--light);
}
.comment{
    text-align: start;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
.comment-options{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.comment-options button{
    border: 2px solid var(--darkest);
    border-radius: 5px;
    background: none;
    color: var(--darkest);
}
.comment-type{
    background-color: var(--white);
    color: var(--darkest);
    padding: 6px;
}
.chapter, .page{
    border: 5px solid var(--white);
    border-radius: 5px;
    background-color: var(--white);
    color: var(--darkest);
    border: none;
    margin: 0px 20px 0px 10px;
}

@media all and (max-width: 900px){
    .background-modal{
        display: none;
    }
}
@media all and (max-width: 700px){
    .title{
        font-size: small;
    }
    .tags{
        font-size: small;
    }
}



@media all and (min-width: 300px) and (max-width: 400px){


    .background-modal{
        display: none;
    }
}

