.notes{
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}
.notes-field{
    width: 500px;
    height: 100px;
}
.tag-selector{
    display: flex;
    justify-content: center;
    margin: 30px 20px 20px;
    padding-right: 30px;
    border: 10px;
}
.selector{   
    padding: 3px 10px 3px; 
    color: var(--darkest);
    background-color: var(--white);
}
.option{
    text-align: center;
}
.remove-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.remove{
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    border: none;
    border-radius:5px;
    background-color: var(--highlight);
    color: var(--darkest);
}
.btns{
    display: flex;
    margin: 30px 30px 10px;
    justify-content: center;
}
.btn-details, .btn-notes{
    margin-right: 30px;
    text-decoration: none;
    border: none;
    border-radius:5px;
    background: none;
    color: var(--darkest);
    font-size: larger;
    font-weight:bold;
}
.btn-details-selected, .btn-notes-selected{
    margin-right: 30px;
    text-decoration: underline;
    border: none;
    border-radius:5px;
    background: none;
    color: var(--darkest);
    font-size: larger;
    font-weight:bold;
    text-decoration-thickness: 4px;
}
.btn-details:hover, .btn-notes:hover{
    color: var(--highlight);
}
.tab-notes{
    display: flex;
    justify-content: center;
}
.notes{
    display: block;
}
.notes-display{
    height:auto;
    color: var(--darkest);
}
.notes-list{
    list-style-type: none;
}
.note{
    width: 400px;
    height: auto;
    margin: 10px;
    background-color: var(--dark);
}
.comment-info{
    font-size: 15px;
}
.comment{
    text-align: start;
}

@media all and (max-width: 900px){
    .background-modal{
        display: none;
    }
}
@media all and (max-width: 700px){
    .title{
        font-size: small;
    }
    .tags{
        font-size: small;
    }
}



@media all and (min-width: 300px) and (max-width: 400px){

    .info{
    }

    .background-modal{
        display: none;
    }
}

