
nav{
    padding: 10px 2%;
    justify-content: space-between;
    background: var(--white);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo{
    width: 130px;
}
.nav-middle{
    margin: 0 auto;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    white-space: nowrap;
}

.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
    color: var(--darkest)
}

.nav-middle .search-box img i{
    width: 15px;
}

.nav-right i{
    width: 30px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
}


/*mobile formatting*/
@media all and (min-width: 300px) and (max-width: 524px){
    /*shrink search box*/
    .nav-middle .search-box{
        width:auto;
    }

    .nav-middle .search-box img i{
        width: 10px;
    }

    .nav-middle .search-box input{
        width: auto;
    }
    
    
}



@media all and (max-width: 209px){
    nav{
        position: fixed;
        z-index:1;
    }
}

@media all and (max-width: 149px){
    nav{
        position:fixed;
    }
}
