/*
when width goes below 1100px, sidebar should auto collapse.
When user wants to uncollapse sidebar, it should overlap feed/shelf
*/
.sidebar{
    background: var(--white);
    width: 15%;
    min-width: 150px;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
p{
    color: var(--darkest);
}
.small-sidebar{
    width: 5%;
}
.small-sidebar p{
    display: none;
}
.small-sidebar h3{
    /*probably should find a better solution than this*/
    display: none;
}
i{
    color: var(--darkest);
}
.shortcut-links i{
    width: 20px;
    margin-right: 20px;
}
.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}
.side-link i{
    margin-bottom: 16px;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: var(--darkest);
    width: 85%;
}
.genre-list h3{
    font-size: 18px;
    margin: 25px 20px;
    color: var(--darkest);
}

.genre-list i{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}