/*
when width goes below 1100px, sidebar should auto collapse.
When user wants to uncollapse sidebar, it should overlap feed/shelf
*/
.sidebar{
    width: 15%;
    min-width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    text-overflow: ellipsis;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
p{
    color: var(--darkest);
}
.small-sidebar{
    width: 5%;
}
.small-sidebar p{
    display: none;
}
.small-sidebar h3{
    /*probably should find a better solution than this*/
    display: none;
}
i{
    color: var(--darkest);
}
.shortcut-links i{
    width: 20px;
    margin-right: 5px;
}
.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    cursor: pointer;
}
.side-link i{
    margin-bottom: 18px;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: var(--darkest);
    width: 85%;
}
.genre-list h3{
    font-size: 18px;
    margin: 25px 20px;
    color: var(--darkest);
}

.genre-list i{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.side-link p{
    font-size: 15px;
}


/*mobile formatting*/
@media all and (max-width: 799px){
    .side-link{
        display:block;
        padding-bottom: 10px;
        width: 60px;
        text-align: center;
    }
    .side-link p{
        font-size: small;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
    }
    .side-link i{
        display:block;
        padding-bottom: 5px;
        margin: auto;
        transform: scale(1.5);

    }
    .sidebar hr{
        width: 40%;
    }
}


/*mobile formatting*/
@media all and (max-width: 209px){
    .sidebar{
        position: absolute;
        z-index: 1;
        min-width: 40px !important;
        overflow-y: hidden;
    }
    .shortcut-links{
        width: 30px;
    }
    .side-link{
        display:block;
        padding-bottom: 1px;
        width: 30px;
        text-align: center;
    }
    .side-link p{
        font-size:xx-small;
        display: none;
    }
    .side-link i{
        display:block;
        padding-bottom: 5px;
        margin: auto;
        transform: scale(1);
    }
    .sidebar hr{
        border: 0;
        height: 1px;
        background: var(--darkest);
        width: 20%;
    }
}