.filters-nav{
    display: flex;
}
.filter{
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--darkest);
    background-color: var(--light);
    font-weight: bold;
    min-width: 80px;
    width: 120px;
    height: 30px;
}