:root{
    /*
    --white: #F6F6F6;
    --light: #EE2B47;
    --dark: #34374C;
    --darkest: #2C2E3E;
    */
    
    
    /*
    
    --white: #F6F1EE;
    --light: #ED7D31;
    --dark: #6C5F5B;
    --darkest: #4F4A45;
    */

    /*
    --white: #F75940;
    --light: #3DC7BE;
    --dark: #364857;
    --darkest: #334252;
    */
    --white: #1a1c23;
    --light: #AFE0CE;
    --dark: #86615C;
    --darkest: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
.root-container{
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    margin: 0;
    background: var(--white);
    overflow-x: hidden;
}
